body {
	background-color: #6495ED;
	font-family: 'Roboto', helvetica, sans-serif;
	padding-top: 60px;
}

body * {
    box-sizing: border-box;
}


.logo {
	display: block;
	height: 35px;
	width: auto;
	margin: 0 auto 30px;
}

.form-section {
	background-color: #FFFFFF;
	width: 400px;
	padding: 40px;
	margin: 0 auto;
}

.form-section legend {
	line-height: 38px;
	text-align: center;
	font-size: 35px;
	margin: 0 auto 40px;
}

input, button {
	border: 2px solid #e7e7e7;
	margin: 20px auto;
	padding: 15px;
	width: 100%;
	text-align: left;
	font-size: 18px;
	height: auto;
	display: block;
}

button {
	text-align: center;
	background-color: #98FB98;
	color: white;
	border: 0;
	font-weight: 400;
	font-size: 20px;
	cursor: pointer;
	margin: 15px auto;
}

.form-section p {
	text-align: center;
	margin: 0;
}

button:hover {
	background-color: #0CB863;
}

.footer {
	display: inline-block;
	text-align: center;
	color: white;
	margin: 20px auto;
	width: 100%;
}

.footer a{
	color: white;
}